DATABASE_URL=mysql+pymysql://smart:YOUR_DB_PASSWORD@127.0.0.1:3306/smart_home?charset=utf8mb4
MQTT_BROKER=broker.emqx.io
MQTT_PORT=1883
TOPIC_SUFFIX=sh7k2d
FACE_THRESHOLD=0.40
SERVERCHAN_KEY=
STORAGE_BACKEND=local
FAN_AUTO_ON_TEMP=30
FAN_AUTO_OFF_TEMP=29
